<!DOCTYPE html>
<html>

<head>
    <style>
        .button {
            background-color: #ef4444;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <h1>Recuperación de Contraseña</h1>
    <p>Hola {{ user.first_name }},</p>
    <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente botón para continuar:</p>
    <a href="{{ reset_url }}" class="button" style="color: white;">Restablecer Contraseña</a>
    <p>Si no solicitaste este cambio, puedes ignorar este correo.</p>
    <p>El enlace expirará pronto por seguridad.</p>
</body>

</html>